#calendar {
    max-width: 1000px;
    margin: 10 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-height: 1000px;
}

.custom-modal .modal {
    z-index: 1060; /* Ensure this is higher than the header z-index */
}

.custom-modal .modal-backdrop {
    z-index: 1050; /* Ensure this is lower than the modal but high enough to cover content */
}
.fc-toolbar, .fc-header-toolbar {
    z-index: 1030; /* Lower than the modal's z-index */
}
.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}