@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #FDFAFA;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 40px;
    margin: 0;
    background: #FDFAFA;
    z-index: 100000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header .logo {
    position: relative;
    transition: 0.6s;
}

.logo img {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

header ul li {
    /* position: relative; */
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a {
    position: relative;
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    text-decoration-thickness: 2px;
    color: #0F0E3A;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.login-button {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 25px;
    background-color: #3048C0;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    transition: 0.1s;
}

.login-button:hover {
    background-color: #4556AB;
    cursor: pointer;
}

.login-button:active {
    background-color: #273B9C;
    cursor: pointer;
}
