.eboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.eboard-group {
  text-align: center;
  margin: 10px;
  width: 300px;
}

.eboard-group img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333333;
}

.position {
  font-weight: 500;
  font-style: italic;
  color: #555;
  margin-bottom: 3px;
  font-size: 18px;
}

.major {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
